form{
    border: solid;
    display: inline-block;
    padding: 25px;
    text-align: left;
    background-color: antiquewhite;
    border-radius: 10px;
 }
 label{
    font-weight: bold;
 }
 input{
    margin-bottom: 15px;
 }
 button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: greenyellow;
 }
 button:hover{
    cursor: pointer;
    opacity: 0.9;
 }